@import '../../styles/variables/_variables.css';

.questionInputContainer {
  height: 56px;
  border-radius: 8px;
  border: 2px solid #eaeef1;
  background: var(--white, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-family: Lora;
  box-shadow: var(--black-shadow-10);
}

@media only screen and (max-width: 600px) {
  .questionInputContainer {
    width: 100%;
  }
}

.questionInputTextArea {
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  font-family: Lora;
}

.questionInputTextArea input {
  font-family: Lora;
  color: #0D0C0C;
}

.questionInputSendButton {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--white);
  border-radius: 5px;
  border: none;
  background: #C46;
  font-family: Montserrat;
}

.questionInputSendButton > img {
  display: inline;
}

.questionInputSendButtonDisabled {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--white);
  border-radius: 5px;
  background: none;
  border: none;
  font-family: Montserrat;
}

.questionInputSendButtonDisabled > img {
  display: inline;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}
