@import '../../styles/variables/_variables.css';

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #f2f2f2;
    position: sticky;
}

.logoBar {
    background: var(--theme-color-primary);
    height: 40px;
}
.nycLogo {
    margin-left: 40px;
    padding-top: 5px;
}

.navBar {
    font-family: Montserrat;
    background: var(--theme-color-primary-10);
    height: 50px;
    color: var(--white);
    display: flex;
    padding: 20px 40px 20px 40px;
    align-items: center;
}
.navTitle {
    font-size: var(--theme-typography-font-size-x-large);
    flex: 1;
}
.navTitle:hover {
    cursor: pointer;
}
.navButtons {
    flex: 4;
    align-items: center;
    display: flex;
    justify-content: end;
}
.navButtons span {
    padding-right: 10px;
    font-weight: var(--theme-typography-font-weight-bold);
}


.languageBar {
    display: flex;
    background: var(--theme-color-neutral-20);
    height: 30px;
    align-items: center;
}
.languageSelect {
    padding-left: 40px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
    text-decoration: none;
}

.headerTitle {
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-mid);
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #242424;
}

.headerIcon {
    height: 32px;
    width: 32px;
    margin-left: 36px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    width: 86px;
    height: 32px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.shareButton {
    color: var(--white);
}

.shareButtonText {
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-mid);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--white);
}

.urlTextBox {
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-normal);
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid var(--theme-color-neutral-25);
    border-radius: 4px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: var(--white);
    border: 1px solid var(--theme-color-neutral-25);
    border-radius: 4px;
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: var(--theme-color-neutral-25);
}

.copyButton {
    color: #424242;
}

.copyButtonText {
    font-style: normal;
    font-weight: var(--theme-typography-font-weight-mid);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}